dataset/
Files/
analysis_outputs/
OFP_DL_model2_compat_results/
OFP_asp_dac_6pages_1pagereference_/
output/
reports/
visualization/

output_test/
_smoke_input/
catboost_info/

__pycache__/
*.py[cod]

*.pkl
*.pt
*.pth
*.rar
*.zip
*.7z
*.tar
*.gz
